:root {
    --primary:#32746D;
    --secondary: #9EC5AB; 
    --tertiarty:#104F55;
}
body {
    background-color:var(--tertiarty);
    margin: 0px;
    padding: 0px;
}
header{
    background-color: var(--primary);
    margin: 0;
    padding: 15px;
}
a {
    color: var(--secondary);
    font-size: 20px;
}
a:hover{
    color: var(--tertiarty);
}
img {
    opacity: 0.3;
}
#about{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
}
.container{
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(235, 195, 64);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
