:root {
    --primary:#32746D;
    --secondary: #9EC5AB; 
    --tertiarty:#104F55;
}
body {
    background-color:var(--tertiarty);
    margin: 0px;
    padding: 0px;
}
header{
    background-color: var(--primary);
    margin: 0;
    padding: 15px;
}
a {
    color: var(--secondary);
    font-size: 20px;
}
a:hover{
    color: var(--tertiarty);
}
.backgroundimg {
    opacity: 0.3;
    position: relative;
    text-align: center;
}
#about{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
      
}
.containers{
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--primary);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.col-1{
    max-width: 11.333333%;
}
.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
}
.largetext{
    font-size: 50px;
    color: var(--secondary);
    
}
.smalltext{
    font-size: 20px;
    color: var(--secondary);
    text-align: center;
}
.homepage{
    width:50%;
}
.box{
    padding: 40px;
    color:var(--secondary)
}
.avatar{
    opacity: 0.7;
    border-radius: 50%;
}
.list-group-item{
    background-color:var(--tertiarty);
    border:none;
    color: var(--secondary);
    font-size: 20px;
}
.second{
    padding: 10px;
}
.contactform{
    background-color: var(--primary);
    padding: 20px;
    border-radius: 5px;
    margin: 100px auto;
    max-width: 500px
}
label{
    font-size: 18px;
    color:var(--secondary)
}
.textform{
    text-align: center;
}
.submit{
    border-radius: 5px;
    background-color: var(--primary);
}
.submit:hover{
    background-color: var(--secondary);
}
.projectbox{
    position: relative;
    width: 50%;
}
.workheader{
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: var(--secondary);
}
.workinfo{
    color:var(--secondary);
    text-align: center;
  
}
.fade{

}
.fade:hover{
    opacity: 0.3;
}



